/* fixing my awful button mistakes */
/*
#left_btn {
    padding: 25px;
}

#right_btn {
    padding: 25px;
}
*/
body {
    background-color: #efefef;
    font-family: Arial, Verdana, Tahoma;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}


.container {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}


header {
    background-color: #FFF;
    height: 150px;
    text-align: center;
    padding: 250px;
    background: url(img/header.jpeg) no-repeat center top fixed;
    background-size: cover;
}


h1 {
    color: #fff;
}


.float-right {
    float: right;
    margin: 20px;
}


.float-left {
    float: left;
    margin: 20px;
    padding: 20px;
}

nav {
    background-color: #044a1d;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
}


nav a {
    display: inline-block;
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: #044a1d;
    /*padding: 25px;*/
    color: #fff;
    text-decoration: none;
    /* fixing padding for nav */
    /*padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 30px;*/
    padding: 25px;
}


nav a:hover {
    background-color: #dbd9cd;
    color: #044a1d;
}

section {
    margin: 0;
}


#main {
    background-color: #dbd9cd;
    color: #0c275e;
    padding: 80px;
}


/* kyle are you reading this */
#accomplishments {
    background-color: #002907;
    color: #dbd9cd;
    padding: 80px;
}


#life {
    background-color: #cccccc;
    color: #0c275e;
    padding: 60px;
}


img {
    width: 35%;
}


footer {
    background-color: #044a1d;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* make top text black for img */
#headtext {
    color: #000 !important;
}

#subheader {
    color: #000;
}

