body {
    background-color: #efefef;
    font-family: Arial, Tahoma;
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}


.container {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}


header {
    background-color: #FFF;
    height: 150px;
    text-align: center;
    padding: 250px;
    background: url(img/header.jpeg) no-repeat center top fixed;
    background-size: cover;
}


h1 {
    color: #fff;
/* rubric Web Font */
    font-family: Heebo, Arial, Verdana;
    text-shadow: 4px 4px #00054b;
    font-size: 50px;
    margin: 0;
}

h2,
h3 {
    font-family: Heebo, Arial, Verdana;
    font-size: 28px;
}


.float-right {
    float: right;
    margin: 20px;
}


.float-left {
    float: left;
    margin: 20px;
    padding: 20px;
}


nav {
    background-color: #044a1d;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;font-family: Heebo, Arial, Verdana;
}


nav a {
    display: inline-block;
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: #044a1d;
    /*padding: 25px;*/
    color: #fff;
    text-decoration: none;
    /* fixing padding for nav */
    /*padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 30px;*/
    padding: 25px;
}


nav a:hover {
    background-color: #dbd9cd;
    color: #044a1d;
}


section {
    margin: 0;
}


#main {
    background-color: #dbd9cd;
    color: #0c275e;
    padding: 80px;
}


#accomplishments {
    background-color: #002907;
    color: #dbd9cd;
    padding: 80px;
}


#life {
    background-color: #cccccc;
    color: #0c275e;
    padding: 60px;
}


img {
    width: 35%;
}


footer {
    background-color: #044a1d;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

#subheader {
    color: #000;
}

/* Bunch of crazy mobile stuff brrrrrr */
@media screen and (max-width: 1400px) {

   
    .container {
        width: 80%;
    }

    
    h1 {
        font-size: 48px;
    }

   
    h2 {
        font-size: 36px;
    }

   
    header {
        padding: 200px;
    }

}
/* small screen */
@media screen and (max-width: 800px) {

   
    .container {
        width: 100%;
    }

    
    h1 {
        font-size: 36px;
    }

  
    h2 {
        font-size: 24px;
    }

   
    header {
        height: 75px;
        padding: 150px;
    }

}


/* blackberry from 2002 */
@media screen and (max-width: 400px) {

   
    .container {
        width: 100%;
    }

  
    nav a {
        width: 70px;
        font-size: 0.9em;
        padding: 20px;
    }

 
    body {
        font-size: 1.0em;
    }

   
    header {
        height: 200px;
        padding: 200px 0 100px 0;
    }

   
    h1 {
        font-size: 36px;
    }

  
    #main {
        padding: 40px;
    }

    #paintings {
        padding: 40px;
    }

    #life {
        padding: 40px;
    }

  
    img {
        width: 100%;
    }

}
