/* CSS - A3 */
/* Will Bollock */
body {
    background-color: #efefef;
    font-family: Arial, Verdana, Tahoma;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: #fff;
}

header {
    background-color: #FFF;
    height: 150px;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #044a1d;
}

nav {
    background-color: #044a1d;
    text-align: center;
}

nav a {
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: #044a1d;
    #padding: 45px;
    #margin: 10px;
    color: #fff;
    text-decoration: none;
    /* fixing padding for nav */
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
}

nav a:hover {
    background-color: #f3f1e5;
    color: #00054b;
}

section {
    overflow: hidden;
    margin: 10px;
}

.float-right {
    float: right;
    margin: 20px;
}

img { /* had issues with my main RMS image */
  max-width: 50%;
  height: auto;
}

footer {
    background-color: #044a1d;
    height: 20px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
